.contatos-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contatos-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.contatos-container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contatos-branding {
  width: 120px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.contatos-burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contatos-hamburger {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: #f50000;
}
.contatos-hamburger:hover {
  opacity: .5;
}
.contatos-icon {
  width: 60px;
  object-fit: cover;
}
.contatos-mobile-menu {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.contatos-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contatos-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contatos-image {
  height: 2rem;
}
.contatos-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contatos-icon1 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contatos-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contatos-text {
  margin-bottom: var(--dl-space-space-unit);
}
.contatos-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.contatos-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.contatos-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.contatos-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.contatos-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.contatos-login {
  margin-right: var(--dl-space-space-twounits);
}
.contatos-icon-group {
  fill: var(--dl-color-gray-white);
  display: flex;
}
.contatos-icon3 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contatos-icon5 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contatos-icon7 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contatos-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.contatos-content {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #313133;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-top-width: 1px;
}
.contatos-main {
  gap: 240px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.contatos-branding1 {
  gap: var(--dl-space-space-twounits);
  width: 400px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contatos-image1 {
  width: 120px;
  object-fit: cover;
}
.contatos-text5 {
  color: #7C7C80;
  line-height: 24px;
}
.contatos-links {
  gap: 120px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contatos-column {
  gap: var(--dl-space-space-threeunits);
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contatos-header {
  font-size: 24px;
  font-style: italic;
  font-family: "Playfair Display";
  font-weight: 500;
}
.contatos-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contatos-navlink {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.contatos-navlink:hover {
  opacity: .5;
}
.contatos-navlink1 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.contatos-navlink1:hover {
  opacity: .5;
}
.contatos-navlink2 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.contatos-navlink2:hover {
  opacity: .5;
}
.contatos-column1 {
  gap: var(--dl-space-space-threeunits);
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contatos-header1 {
  font-size: 24px;
  font-style: italic;
  font-family: Playfair Display;
  font-weight: 500;
}
.contatos-list1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contatos-navlink3 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.contatos-navlink3:hover {
  opacity: .5;
}
.contatos-navlink4 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.contatos-navlink4:hover {
  opacity: .5;
}
.contatos-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contatos-text6 {
  color: #7C7C80;
  font-size: 14px;
  line-height: 21px;
}
.contatos-button {
  display: flex;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 0px;
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #f50000;
}
.contatos-image2 {
  width: 21px;
  object-fit: cover;
}
.contatos-container5 {
  display: contents;
}
@media(max-width: 1200px) {
  .contatos-container {
    background-color: #000000;
  }
  .contatos-branding {
    width: 90px;
    height: 90px;
    margin-top: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .contatos-text5 {
    color: rgb(124, 124, 128);
    line-height: 24px;
  }
  .contatos-text6 {
    color: rgb(124, 124, 128);
    font-size: 14px;
    line-height: 21px;
  }
}
@media(max-width: 991px) {
  .contatos-branding {
    width: 65px;
    height: 65px;
  }
  .contatos-content {
    border-top-width: 0px;
  }
  .contatos-main {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .contatos-branding1 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .contatos-branding {
    margin-top: auto;
    margin-right: auto;
  }
  .contatos-burger-menu {
    display: flex;
  }
  .contatos-footer {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .contatos-links {
    gap: var(--dl-space-space-fiveunits);
    flex-direction: row;
  }
}
@media(max-width: 479px) {
  .contatos-navbar {
    align-items: center;
    justify-content: space-between;
  }
  .contatos-container1 {
    align-self: center;
    margin-right: var(--dl-space-space-fourunits);
    justify-content: space-between;
  }
  .contatos-branding {
    width: 70px;
    height: 73px;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .contatos-hamburger {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .contatos-icon {
    width: 30px;
  }
  .contatos-mobile-menu {
    padding: 16px;
  }
  .contatos-links {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .contatos-bottom {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .contatos-button {
    justify-content: center;
  }
}
